<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="css/mdb.min.css" th:href="@{/css/mdb.min.css}" rel="stylesheet"></link>
    <link href="css/mdb.rtl.min.css" th:href="@{/css/mdb.rtl.min.css}" rel="stylesheet"></link>
    <link href="css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" rel="stylesheet"></link>
    <link href="css/buttonCustom.css}" th:href="@{/css/buttonCustom.css}" rel="stylesheet"></link>
    <link href="css/common.css}" th:href="@{/css/common.css}" rel="stylesheet"></link>

    <script src="js/mdb.min.js" th:src="@{/js/mdb.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"></script>
    <script src="js/popper.min.js" th:src="@{/js/popper.min.js}"></script>

    <title>半荘情報画面</title>
    <style>
    #map-canvas {
        width: 600px;
        height: 600px;
    }

    </style>
</head>
<body>
    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">麻雀わいわい</span>
      </div>
    </nav>
    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab" aria-controls="ex2-tabs-1" aria-selected="ture">
           合計
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab" aria-controls="ex2-tabs-2" aria-selected="false">
           各半荘
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex2-tab-3" data-mdb-toggle="tab" href="#ex2-tabs-3" role="tab" aria-controls="ex2-tabs-3" aria-selected="false">
           設定
        </a>
      </li>
    </ul>

    <!-- 半荘登録ボタン -->
    <div class="container">
        <a href="halfRoundGameDetailPointInput" class="btn-open-green">新規作成</a>
    </div>
     <br/>

    <!-- 合計 -->
    <div class="tab-content" id="ex2-content">
      <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr class="table-primary">
                        <th scope="col" class="tableHader">氏名</th>
                        <th scope="col" class="tableHader">順位</th>
                        <th scope="col" class="tableHader">金額</th>
                    </tr>
                    <th:block th:if="${playerPlayResultList != null}">
                        <tr th:each="resultList : ${playerPlayResultList}">
                            <td th:text="${resultList.userName}" class="font20"></td>
                            <td th:text="${resultList.rank}  + ' 位'" align="center" class="font20"></td>
                            <td th:text="${resultList.money}  + ' 円'" align="right" class="font20"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
      </div>

      <!-- 半荘詳細 -->
      <div  class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
          <th:block th:if="${hantyanTotalResultMap != null}">
              <th:block th:each="map : ${hantyanTotalResultMap}" >
                  <table border="2" align="center" width="350" height="80" bordercolor="navy">
                      <tr align="center" bordercolor="blue" class="table-primary">
                          <th class="tableTdCell">半荘</th>
                          <th class="tableTdCell">名前</th>
                          <th class="tableTdCell">順位</th>
                          <th class="tableTdCell" colspan="4">半荘の結果</th>
                      </tr>
                      <th:block th:each="PlayerPlayResult, resultList : ${map.value}">
                          <tr align="center">
                              <th:block th:if="${resultList.first}">
                                  <td class="tableTdCell" rowspan="8" th:text="${map.key}"></td>
                              </th:block>
                              <td class="tableTdCell" rowspan="2" th:text="${PlayerPlayResult.userName}"></td>
                              <td class="tableTdCell" rowspan="2" th:text="${PlayerPlayResult.rank}"></td>
                              <td class="tableTdCell" bgcolor="#F4E7D0">点数</td>
                              <td class="tableTdCell" colspan="3" th:text="${PlayerPlayResult.point}  + ' 点'"></td>
                          </tr>
                          <tr align="center">
                              <td class="tableTdCell" bgcolor="#F4E7D0">スコア</td>
                              <td class="tableTdCell" th:text="${PlayerPlayResult.score}"></td>
                              <td class="tableTdCell" bgcolor="#F4E7D0">自風</td>
                              <td class="tableTdCell"  th:text="${PlayerPlayResult.seatWind}"></td>
                          </tr>
                      </th:block>
                  </table>
                  <br/>
              </th:block>
          </th:block>
      </div>

      <!-- 設定 -->
      <div class="tab-pane fade" id="ex2-tabs-3" role="tabpanel" aria-labelledby="ex2-tab-3">
		  <div class="container">
		        <form class="form-horizontal">
		            <h3 class="h3Left">順位点</h3>
		            <div class="row">
						<div class="col-2 grid-center">
						    <span class="text-center" style="vertical-align: middle;">1位</span>
						</div>
						<div class="col-4">
						    <input type="text" class="form-control" value="20" disabled>
						</div>
                        <div class="col-2 grid-center">
                            <span class="text-center">2位</span>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" value="10" disabled>
                        </div>
					</div>
                    <div class="row">
                        <div class="col-2 grid-center ">
                            <span class="text-right">3位</span>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" value="-10" disabled>
                        </div>
                        <div class="col-2 grid-center">
                            <span class="text-center">4位</span>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" value="-20" disabled>
                        </div>
                    </div>
                    <br/>
                    <h3 class="h3Left">飛び賞</h3>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" value="10" disabled>
                        </div>
                    </div>
                    <br/>
                    <h3 class="h3Left">レート</h3>
                    <div class="row">
                        <div class="col-7">
                            <input type="text" class="form-control" value="1000点 100円" disabled>
                        </div>
                    </div>
                    <br/>
                    <h3 class="h3Left">おか</h3>
                    <div class="row">
                        <div class="col-7">
                           <input type="text" class="form-control" value="25000点返し" disabled>
                        </div>
                    </div>
                    <br/>
                    <h3 class="h3Left">役満ボーナス</h3>
                    <div class="row">
                        <div class="col-2 grid-center">
                            <span class="text-center">ﾂﾓ</span>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" value="10" disabled>
                        </div>
                        <div class="col-2 grid-center">
                            <span class="text-center ">ﾛﾝ</span>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" value="20" disabled>
                        </div>
                    </div>
                    <br/><br/><br/>
				</form>
		    </div>
          </div>
    </div>
    <!-- Tabs content -->
</body>
</html>