    .tableHader {
       font-size: 20px;
    }
    .tableDetailHeader{
       border-style: groove;
       padding
    }
    .tableDetailHeaderCell{
        border: 1px solid black;
        font-size: 20px;
    }
    .tableTdCell{
        border: 1px solid black;
    }
    .text-center{
      text-align: center;
    }
    .text-right{
      text-align: right;
    }
    .text-left{
      text-align: left;
    }
    .h3Left{
       text-align: left;
       background: #F4E7D0;
    }
