<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>入力画面</title>
</head>
<body>
	<form action="#" th:action="@{/confirm}" th:object="${message}" method="post">
		<div class="container">

			<form action="">
				<input type="text" name="firstName" value="" placeholder="First Name">
				<input type="text" name="lastName" value=""placeholder="Last Name">
				<input type="email" name="email" value="" placeholder="Email">
				<input type="password" name="password" value="" placeholder="Password">
				<button class="formButton">Sign Up</button>
			</form>

			<div class="sections">
				<div class="signup">
					<p>Not with us? Sign up Now!</p>
					<button type="button" name="signup" class="outline">Sign Up</button>
				</div>

				<div class="login">
					<p>Already have an account?</p>
					<button type="button" name="login" class="outline">Login</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>